In [3]:
import pandas as pd
df=pd.DataFrame({
    "color":["red","green","blue","green","red"],
    "size":["small","medium","large","medium","small"],
    "city":["hyderabad","delhi","mumbai","delhi","chennai"],
    "target":[10,20,15,25,12]
})
df

   color    size       city  target
0    red   small  hyderabad      10
1  green  medium      delhi      20
2   blue   large     mumbai      15
3  green  medium      delhi      25
4    red   small    chennai      12

# label encoding

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
le=LabelEncoder()
df["color_label"]=LabelEncoder().fit_transform(df['color'])
df[["color","color_label"]]

   color  color_label
0    red            2
1  green            1
2   blue            0
3  green            1
4    red            2

# ONE hot CODING

In [7]:
one_hot=pd.get_dummies(df['color'],prefix="color")
one_hot

   color_blue  color_green  color_red
0       False        False       True
1       False         True      False
2        True        False      False
3       False         True      False
4       False        False       True

In [8]:
one_hot=pd.get_dummies(df['color'])
one_hot

    blue  green    red
0  False  False   True
1  False   True  False
2   True  False  False
3  False   True  False
4  False  False   True

In [5]:
one_hot=pd.get_dummies(df,columns=["color"])
one_hot

     size       city  target  color_blue  color_green  color_red
0   small  hyderabad      10       False        False       True
1  medium      delhi      20       False         True      False
2   large     mumbai      15        True        False      False
3  medium      delhi      25       False         True      False
4   small    chennai      12       False        False       True

# ordinal encoding

In [6]:
from sklearn.preprocessing import OrdinalEncoder

In [7]:
order=[["small","medium","large"]]
df["size_ordinal"]=OrdinalEncoder(categories=order).fit_transform(df[["size"]])
df[["size","size_ordinal"]]

     size  size_ordinal
0   small           0.0
1  medium           1.0
2   large           2.0
3  medium           1.0
4   small           0.0

# target encoding

In [9]:
te=df.groupby("city")["target"].mean()
df["city_target_enc"]=df["city"].map(te)
df[["city","city_target_enc"]]

        city  city_target_enc
0  hyderabad             10.0
1      delhi             22.5
2     mumbai             15.0
3      delhi             22.5
4    chennai             12.0

# frequency encoding

In [13]:
freq=df["city"].value_counts()
df["city_freq_enc"]=df["city"].map(freq)
df[["city","city_freq_enc"]]

        city  city_freq_enc
0  hyderabad              1
1      delhi              2
2     mumbai              1
3      delhi              2
4    chennai              1


# binary encoding

In [1]:
import category_encoders as ce

In [4]:
data_binary=ce.BinaryEncoder(cols=["city"]).fit_transform(df["city"])
data_binary

   city_0  city_1  city_2
0       0       0       1
1       0       1       0
2       0       1       1
3       0       1       0
4       1       0       0